*{
    margin: 0;
    padding: 0;
}


.main-container{
    display: flex;
    width: 100%;
    height:100%;
    margin: 30px;
    background: hsl(233, 47%, 7%);
    align-items: center;
    justify-content: center;
    /* border: solid green 6px; */
}
.text-container{
    margin: 10px 0 10px;
    width: 20rem;
    height: 22.9rem;
    background: hsl(244, 37%, 16%);
    padding: 36px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    /* border: 6px solid yellow; */
}   
h1{
    color: hsl(0, 0%, 100%);
}
h2{
    color: hsl(0, 0%, 100%);
    display: flex;
}
p{
    color: hsla(0, 0%, 100%, 0.6);
    line-height: 1.7em;
    font-size: 0.9rem;
    padding-top: 16px;
}
.poster-container .img{
    margin: 10px 10px 0;
    display: flex;
    /* height: 100px; */
    /* width: 100px; */
    mix-blend-mode: color hsl(277, 64%, 61%);
    /* border: solid white 6px; */
}
    
span{
    color: hsl(277, 64%, 61%);
}
.highlight {
display: flex;
padding-top: 10px;
}