
.icon{
    display: flex;
    font-family: "Lexend Deca", sans-serif;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border: solid grey 1px;
    border-radius: 25px;
    padding: 20px;
     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.icon h2{
    font-family: "Rouge Script", cursive;
    font-size: 50px;
    text-shadow: 3px 3px 3px green;
}

nav{
    gap: 20px;
}
nav a{
     text-decoration: none;
     /* justify-content: center; */
     /* justify-items: center; */
     gap: 80px;
    
}




button{
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}
    
